#crystal1 {
    width: 140px;
    height: 140px;
}

#crystal2 {
    width: 140px;
    height: 140px;
}

#crystal3 {
    width: 140px;
    height: 140px;
}

#crystal4 {
    width: 140px;
    height: 140px;
}


h1 {
    font-family: Arial;
    font-size: 40px;
    background-color: teal;
    color: white;
    text-align: center
}

p {
    font-family: Arial;
    font-size: 20px;
    color: purple;
    text-align: center;
}
